.div
  padding: 0px 20px
  font-size: 64px
  font-weight: bold
  text-transform: uppercase
  text-align: center
  display: flex
  flex-wrap: nowrap
  align-items: center
  justify-content: center
  color: #747474

.word
  position: relative
  margin-right: 20px
  &:last-child
    margin-right: 0px

.shadow
  position: absolute
  opacity: .1
  color: #fff

// Media
@media screen and ( max-width: 900px )
  .div
    font-size: 36px

  .word
    margin-right: 10px

@media screen and ( max-width: 524px )
  .div
    font-size: 37px
    flex-wrap: wrap

  .word
    &:nth-child(2n)
      margin-right: 0px
    &:nth-child(3n)
      margin-right: 0px

@media screen and ( max-width: 365px )
  .div
    font-size: 32px
