.header
  position: sticky
  top: 0
  width: 100%
  display: flex
  padding: 20px 0px
  justify-content: space-between
  align-items: center
  background-color: rgba(1, 1, 1, .9)
  z-index: 5

.navlist
  display: flex

.navitem
  margin-right: 15px
  font-size: 32px
  &:last-child
    margin-right: 0px

// Media
@media screen and ( max-width: 1040px )
  .header
    padding: 10px 0px

  .navitem
    font-size: 24px

@media screen and ( max-width: 780px )
  .header
    display: none
