.container
  margin: 0 auto
  margin-top: 150px
  padding: 60px 45px
  width: 374px
  height: 740px
  display: flex
  align-items: center
  justify-content: start
  flex-direction: column
  background-repeat: no-repeat
  h2
    margin-bottom: 20px
    font-size: 36px

.wrapper
  display: flex
  flex-direction: column
  align-items: start

.feature
  margin-bottom: 10px

.title
  font-weight: 700
  font-size: 20px
  color: #5002f5

.text
  font-size: 16px
  color: #fff

.button
  margin-top: 15px
  padding: 13px 0px
  width: 100%
  text-align: center
  background-color: #fff
  border-radius: 15px
  transition: background-color .3s
  text-decoration: none
  color: #1e1e1e
  font-weight: 500
  font-size: 24px
  transition: background-color .3s, color .3s
  &:hover
    background-color: #5002f5
    color: #fff

// Media
@media screen and ( max-width: 800px )
  .container
    margin-top: 50px

@media screen and ( max-width: 405px )
  .container
    width: auto
    height: auto
    padding: 0
    background-image: none
    h2
      font-size: 40px

  .button
    padding: 7px 0px
    font-size: 16px
    border-radius: 8px
