.container
  position: relative

.button
  padding: 3px 40px
  position: relative
  font-size: 24px
  border-radius: 5px
  color: #fff
  text-transform: uppercase
  font-weight: 400
  background-color: transparent
  border: 1px solid #fff
  z-index: 4
  transition: all .5s
  &:hover
    background-color: #fff
    color: #000

// Media
@media screen and ( max-width: 1045px )
  .button
    font-size: 19px
