.container
  max-width: 1240px
  min-height: 100vh
  padding: 20px
  margin: 0 auto
  border-left: 1px dashed rgba(255, 255, 255, .1)
  border-right: 1px dashed rgba(255, 255, 255, .1)

.main
  width: 100%
  height: 100%
  overflow-x: hidden

// Media
// @media screen and (max-width: 1250px)
//   .container
//     max-width: 1040px

// @media screen and (max-width: 1050px)
//   .container
//     max-width: 100%
